<!DOCTYPE html>
<html>
  <head>
    <title>Distance Calculation</title>

    <style>
      #calculateDistance {
        background-color: #4caf50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        border-radius: 8px;
        cursor: pointer;
      }

      #distanceOutput {
        font-size: 40px;
      }
    </style>
  </head>
  <body style="background-color: aqua">
    <button id="calculateDistance">
      <a style="text-decoration: none" href="/">HomePage</a>
    </button>

    <h2 id="distanceOutput" style="justify-content: center; display: flex">
      Total Distance: <%= distanceSum %>
    </h2>
  </body>
</html>
